<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="automation" type="BizAPP.Automation.Common.Configuration.AutomationSection, BizAPP.Automation.Common"/>
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ExcelFolder" value="E:\ViomeCART" />
		<add key="OutputFolder" value="E:\ViomeCART" />
		<add key="Browsers" value="Chrome" />
		<add key="SprintName" value="VRel - Aug 27-31" />
		<add key="TestEnvironment" value="Staging" />
		<add key="AppUrl" value="https://apps-staging.viome.com" />
		<!--<add key="NumberOfRetriesToLocateElement" value="5" />-->
		<add key="WaitTimeInSeconds" value="20" />
		<add key="ExecutionTimeoutInSeconds" value="120" />
	</appSettings>
	<automation>
		<actions>
			<!--<assembly name="CustomAutomationActions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=40851d940500d04b" />-->
		</actions>
	</automation>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>